<vex-page-layout>

    <vex-secondary-toolbar current="{{('Subjects')}}">
    </vex-secondary-toolbar>

<vex-page-layout-content>
        <mat-card>
            <mat-card-content>
                <button  [routerLink]="['./add']" mat-raised-button>
                            ADD
                </button>
                <div class="table-responsive mat-elevation-z8" fxLayout="column" fxLayoutAlign="space-between">

                    <table class="w-full" mat-table #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="rowNumber">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef>{{ 'Row no.' }}
                            </mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let subject">
                                {{ dataSource.filteredData.indexOf(subject) + 1 }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{'Name' }}</mat-header-cell>
                            <mat-cell *matCellDef="let subject">
                                {{subject.name}}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="semester">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef mat-sort-header>
                                {{ 'Semester' }}</mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let subject">
                                {{ subject.semester }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions" >
                            <mat-header-cell class="cell-center-align" fxLayoutAlign="center center" *matHeaderCellDef>
                                {{'Actions'}}
                            </mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let subject">
                                <button
                                mat-raised-button
                                [routerLink]="['./view',subject.subjectID]" fxFlex=30>
                                    <span class="material-icons">
                                        View
                                    </span>
                                </button>
                                <button 
                                mat-raised-button
                                [routerLink]="['./edit',subject.subjectID]" fxFlex=30>
                                    <span class="material-icons">
                                        Edit
                                    </span>
                                </button>
                                 <button mat-raised-button
                                (click)="deleteSubject(subject.subjectID)" 
                                  fxFlex=30>
                                    <span class="material-icons">
                                        Delete
                                    </span>
                                </button> 
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                    </table>
                    <mat-paginator [pageSizeOptions]='[10,25]' showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
</vex-page-layout-content>
</vex-page-layout>
