.table{
     width: 100%;
     display: inline-table !important;
}

.filter{
    width: 100%;
    background-color: white !important;
    background: white !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white !important;
}