<vex-page-layout>
    
    <vex-secondary-toolbar current="{{('Exams')}}">
    </vex-secondary-toolbar>
    
    <vex-page-layout-content>
        <mat-card>
            <button  mat-raised-button
            [routerLink]="['./add']" >
            ADD
        </button>
        <mat-card-content>
            <!-- <button  [routerLink]="['./add']" >
                ADD
            </button> -->
            <div class="table-responsive mat-elevation-z8" fxLayout="column" fxLayoutAlign="space-between">
                
                <table class="w-full" mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="rowNumber">
                        <mat-header-cell class="cell-center-align" *matHeaderCellDef>{{ 'Row no.' }}
                        </mat-header-cell>
                        <mat-cell class="cell-center-align" *matCellDef="let exam">
                            {{ dataSource.filteredData.indexOf(exam) + 1 }}
                        </mat-cell>
                    </ng-container>
                    
                        <ng-container matColumnDef="professor">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef mat-sort-header>
                                {{ 'Professor' }}</mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let exam">
                                {{ exam?.professor?.name  }} {{ exam?.professor?.lastName}}
                            </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="subject">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef mat-sort-header>
                                {{ 'Subject' }}</mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let exam">
                                {{ exam?.subject?.name  }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{'Date' }}</mat-header-cell>
                            <mat-cell *matCellDef="let exam">
                                {{exam.date}}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="type">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef mat-sort-header>
                                {{'Type' }}</mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let exam">
                                {{ exam.type }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="criteria">
                            <mat-header-cell class="cell-center-align" *matHeaderCellDef mat-sort-header>
                                {{'Criteria' }}</mat-header-cell>
                            <mat-cell class="cell-center-align" *matCellDef="let exam">
                                {{ exam.criteria }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions" >
                            <mat-header-cell class="cell-center-align" fxLayoutAlign="center center" *matHeaderCellDef>
                                {{'Actions'}}
                            </mat-header-cell> 
                            <mat-cell class="cell-center-align" *matCellDef="let exam">
                                <button
                                mat-raised-button
                                (click)="deleteExam(exam.examID)" fxFlex=30>
                                    <span class="material-icons">
                                        Delete
                                    </span>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                    </table>
                    <mat-paginator [pageSizeOptions]='[10,25]' showFirstLastButtons></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
</vex-page-layout-content>
</vex-page-layout>