.form{
width: 100%;
}

.avatar{
    position: absolute;
    margin: auto;
    /* width: 30px !important; */
    font-size: 40px;
}


mat-card-content{
    margin-top: 10px;
}


// .subjects{
//     border: 1px solid rgb(121, 121, 121);
//     border-radius: 20;
// }